/__pycache__/

/football-venv/
/ray_*/
/training_results_transfer/
/training_results_transfer_mamba/
/training_results_transfer_mamba_gnn/
/training_results_transfer_kan/
/training_results_transfer_day/
/training_results_transfer_night_2/
/training_results_transfer_pbt_2/
/training_results_transfer_gold/
/training_results_transfer27_10/

/cold_start/archive (1)/
/cold_start/ducklake/
/cold_start/xgboost_tuned/

*.err
*.out